h1{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.main-container{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}
.main-mob{
    gap: 15px;
}
.mob{
    width: 100%;
    min-width: 300px;
    max-width: 400px;
    flex-direction: column;
}